.App {
    text-align: center;
}

.logo-wheel {
    animation: App-logo-spin infinite 100s linear;
    height: 65vmin;
    margin-top: 5vmin;
}

.App-header {
    background-color: #282c34;
    background-image: url(../ressources/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Content {
    justify-content: left;
}

.Content-header {
    color: darkslategray;
}