.Btn {
    background-color: darkslategray;
    color: white;
    font-size: calc(10px + 2vmin);
    border-width: 5px;
    border-color: darkslategray;
    border-style: solid;
    border-radius: 5px;
    margin: 2rem;
}

.Btn:hover {
    background-color: slategray;
    border-color: slategray;
    color: aliceblue;
}