.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 200s linear;*/
  height: 70vmin;
  margin-top: 10vmin;
}

.App-header {
  background-color: #282c34;
  background-image: url(ressources/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content {
  justify-content: left;
}

.Content-header {
  color: darkslategray;
}